{
  "plugins": [
    ["prismjs", {
      "languages": ["js", "jsx", "ts", "tsx", "json", "shell", "yml", "sql"],
      "plugins": ["line-numbers", "line-highlight"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
